* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: antiquewhite;
}

.titulos {
    width: fit-content;
    background-color: greenyellow;
    text-align: center;
    margin: 8px auto;
    border: 2px solid aqua;
}

.subtitulos {
    width: fit-content;
    background-color: rgb(184, 245, 184);
    padding: 4px 8px;
}

.imagenes {
    text-align: center;
}

.contenedor-lista {
    margin: auto;
    background-color: blueviolet;
    width: fit-content;
    padding: 5px;
    border: 8px dotted green;
}

.boton {
 
    padding: 10px 20px; 
    background-color: #007bff; 
    color: white;      
    font-size: 16px;
    text-decoration: none;  
    border: 7px solid white;            
    border-radius: 5px; 
    transition: background-color 0.3s ease; 
}

.boton:hover {
    background-color: #f8f8f8;
}